# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit files
.local/

# Secrets and local data
.env
*.env
users.json
